[submodule "deps/fma-common"]
	path = deps/fma-common
	url = https://github.com/TuGraph-family/fma-common.git
[submodule "deps/tugraph-web"]
	path = deps/tugraph-web
	url = https://github.com/TuGraph-family/tugraph-web.git
[submodule "deps/tiny-process-library"]
	path = deps/tiny-process-library
	url = https://github.com/cpp-pm/tiny-process-library.git
[submodule "deps/tugraph-db-client-java"]
	path = deps/tugraph-db-client-java
	url = https://github.com/TuGraph-family/tugraph-db-client-java.git
