# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.DSYM

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# custom
*.db
*.opendb
test/x64
test/test/x64
test/.vs
test/test/testdb
test/testdb
test/db_test
*.pb.h
*.pb.cc
.ycm_extra_conf.py
test/libradb
bin/*
.msvc/.vs/
.msvc/x64/
.msvc/*/x64/
thrift/gen-cpp/
thrift/openssl-1.1.0g/
thrift/thrift-0.10.0/
*.mdb
builder
.matchfile
*.gcno
*.gcda
*.gcov
test/test
test/*.o
restful/server/build/
server/united_server
*.pem
build
*.ttl
release/doc/*.html
src/restful/server/resource/
src/restful/server/browser-resource/
src/server/restful/server/resource/
.idea
.code-workspace
.vscode
cmake-build-debug/
test/__pycache__/
src/core/version.h
deps/build
deps/install
build.debug
GqlLexer.h
GqlLexer.cpp
GqlLexer.interp
GqlLexer.tokens
GqlParser.h
GqlParser.cpp
GqlParser.interp
GqlParser.tokens
GqlParserBaseVisitor.*
GqlParserVisitor.*

*.exp
*.pdb
*.pyd
*.swp
*.swo
target
.classpath
.project
.settings
.svn
output
.idea
*.iml
*.pyc
logs/
*MANIFEST
*artifacts
.DS_Store
.cache
*.real

# docs
doc/en-US/build
doc/zh-CN/build

# geax
deps/geax-front-end/.aci.yml
deps/geax-front-end/.clang-format
deps/geax-front-end/.gitignore
deps/geax-front-end/LEGAL.md
deps/geax-front-end/README.md
deps/geax-front-end/cpplint
