name: Alipay Cloud Devops Codescan
on:
  pull_request:
  pull_request_target:

jobs:
  deployment:
    runs-on: ubuntu-latest
    steps:
      - name: codeScan
        uses: TuGraph-family/alipay-cloud-devops-codescan@main
        with:
          parent_uid: ${{ secrets.ALI_PID }}
          private_key: ${{ secrets.ALI_PK }}

